$base-url: 'https://netbiblio.github.io/fonts';

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Times New Roman';
	font-display: swap;
	src: url('#{$base-url}/times-new-roman-400.woff2') format('woff2');
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Verdana';
	font-display: swap;
	src: url('#{$base-url}/verdana-400.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Verdana';
	font-display: swap;
	src: url('#{$base-url}/verdana-700.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-style: italic;
	font-family: 'Verdana';
	font-display: swap;
	src: url('#{$base-url}/verdana-700-italic.woff2') format('woff2');
}
