.contents__title {
	margin: 0 0 15px;
}

.contents__table {
	width: 100%;
	border-collapse: collapse;
}

.contents__item {
	counter-increment: items;
	border-bottom: 1px solid var(--color-blacky);

	&:nth-child(odd) {
		background-color: var(--color-back);
	}
}

.contents__head-cell {
	padding: 10px;
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	line-height: 17px;
	font-family: var(--font-accent);
	text-align: left;
	border-bottom: 2px solid var(--color-blacky);

	&:first-child {
		padding-right: 0;
	}
}

.contents__number {
	width: 14px;
	padding: 10px 0 10px 10px;
	vertical-align: top;

	&::before {
		content: counter(items) '.';
	}
}

.contents__name {
	padding: 10px;
}
